body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: black;
}

h1 {
  color: #006699;
  margin-top: 20px;
}

#gameCanvas {
  border: 1px solid #333;
  background-color: brown;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
}